:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-style: italic;
  margin: 0;
}

h3 {
  margin: 0;
}

input {
  text-align: center;
  font-size: xx-large;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 20px;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion-title {
  text-align: center;
  background-color: lightblue;
  cursor: pointer;
}

.accordion-footer {
  text-align: center;
  background-color: lightpink;
}

.accordion-content {
  background-color: lightyellow;
}

.open {
  display: block;
}

.close {
  display: none;
}

.temperature-converter,
.clock-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 95vh;
  align-items: center;
  justify-content: center;
}

.temperature-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
  text-align: center;
}

.hours-format-btn {
  display: flex;
  width: 50%;
  height: 5%;
  justify-content: space-between;
}

.hours-format-btn>button {
  width: 40%;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.text-body {
  min-height: 45vh;
}

.hoc-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
}

.cta {
  display: flex;
  justify-content: space-around;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 32px;
}

.cart-item {
  display: flex;
  gap: 24px;
  width: 80vw;
}

.cart-item-cta {
  display: flex;
  gap: 24px
}

.cart-item > div {
  flex: 1;
}